@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@font-face {
  font-family: carlito;
  src: url(../../assests/fonts/Carlito-Regular.ttf);
}

:root {
  --grass: #11bf8b;
  --localFox: #ff4345;
  --brand: #8427f3;
  --sky: #7883ff;
  --footer: #272a33;
}

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: carlito;
}

/* --------------------------- navbar ------------------------------------------------------ */
.nav-bg-light {
  padding: 13px;
  box-shadow: 1px 8px 17px -12px rgba(0, 0, 0, 0.15);
  background-color: white;
  /* margin-bottom: 100px; */
}

.nav-link {
  color: black !important;
  font-size: 17px;
  font-weight: bold;
  margin: 0px 15px;
}

.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 25px;
}

.active{
  border-bottom: 2px solid var(--localFox);
  color: black;
}
/* --------------------------- section 1 ------------------------------------------------------ */

.bd-masthead {
  min-height: 90vh;
  padding-top: 100px;
  /* background: linear-gradient(165deg, #f7f5fb 50%, #fff 50%); */
}

.banner1 {
  width: 90%;
}

.landing-btn {
  background: var(--localFox);
  color: white;
  padding: 10px 35px;
  justify-content: end;
}

/* --------------------------- section 2 ------------------------------------------------------ */

.section-head {
  display: block;
}

.section-head-para {
  display: block;
  margin: 0 auto;
  width: 75%;
}

.service-card {
  padding: 25px 15px;
  transition: transform 0.5s ease-out;
}

.service-card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.125) !important;
  transform: translateY(-15px);
  cursor: pointer;
}

.service-icon {
  font-size: 25px;
  color: var(--sky);
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* --------------------------- section 3 ------------------------------------------------------ */

.slick-prev,
.slick-next {
  background: var(--localFox);
  color: white !important;
  border-radius: 50%;
}

.slick-prev:hover,
.slick-next:hover {
  background: blue;
}

.circular--portrait {
  position: relative;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}

.test-image {
  width: 100%;
  height: auto;
}

/* --------------------------- contact us ------------------------------------------------------ */

.invalid-feedback::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -2.5px;
    margin-left: 50%;
    width: 10px;
    height: 5px;
    border-bottom: solid 5px #145388;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
}

.invalid-feedback::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -2.5px;
  margin-left: 50%;
  width: 10px;
  height: 5px;
  border-bottom: solid 5px white;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}


.submitBnt{
  background-color: var(--sky);
  color: white;
}
/* --------------------------- footer ------------------------------------------------------ */

.footer-logo {
  font-family: "Lobster", cursive;
  font-size: 25px;
  color: white;
}

.footer-bg {
  padding: 50px 0px;
  background-color: var(--footer);
}

.text-custom{
  color: #ee6352 !important;
}

.footer-alt {
  padding: 15px 0;
  background-color: #2e313a;
}

.social-icon {
  border: 2px solid #40434e;
  border-radius: 50%;
  color: #6b707d !important;
  width: 36px;
  height: 36px;
  display: block;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
}
